@use '_colours' as *;

$baseline: 24px;

@mixin header($level) {
    font-size: ($baseline / 2) * (5 - $level);

    @if $level > 3 {
        @error "Level must be 1-3";
    }

    @if $level < 3 {
        border-bottom: 1px $primaryLowlight solid;
        /*@debug "1px #{$primaryLowlight} solid";*/
    }
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

footer {
    background-color: $primaryHighlight;
    padding: $baseline;
    text-align: center;
}

header {
    background-color: $primaryHighlight;
    padding: $baseline;
    text-align: center;

    h1 {
        margin: 0;
    }
}

main {
    margin: 0 auto;
    max-width: 600px;
    padding-bottom: $baseline;

    h2 {
        @include header(2);
    }

    h3 {
        @include header(3);
    }

    figure {
        background-color: $secondaryHighlight;
        margin: 0;
        padding: $baseline;
    }
}

p {
    line-height: $baseline;
}
