@use '_colours' as *;
@use '_layout' as *;

@mixin header($level) {
    font-size: ($baseline / 2) * (5 - $level);

    @if $level > 3 {
        @error "Level must be 1-3";
    }

    @if $level < 3 {
        border-bottom: 1px $primaryLowlight solid;
        /*@debug "1px #{$primaryLowlight} solid";*/
    }
}

header {
    border-bottom: $primaryColour ($baseline / 2) solid;
}

h2 {
    color: darken($primaryColour, 20%);
    margin-top: ($baseline * 2);
    /*margin-top: $baseline + 24px; */
    @include header(2);
}

h3 {
    @include header(3);
}

figure {
    width: percentage(2 / 3);
}